.chip{
    background-color: #2B2859;
    color: white;
    height: 36px;
    text-align:end;
    align-items: center;
}
/* .normalIcon {
    width: 42px;
    height: 42px;
    transform: translateX(80px);

  } */
.normalicon2{
   transform: translate(-20px,25px);


  } 


  .inputfile {
    width: 0.000000001px;
    height: 0.1px;
    opacity: 0;
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: -1;
   
  }

   .inputfile + label {
    font-size: 14px;
    font-weight: 400;
    color: #5C656A;
    display: block;
    background: #FFFFFF;
    border: 1px solid #E4E8ED;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    /* margin-left: -15px; */
    line-height: 35px;

} 
/* .chip::before{
    content: url("./all_icon/image.png");
    border-radius:;
    margin-right: 10px;
    background-color: turquoise;
    width: 40px;
    width: 40px;

} */
/* ._7ahQImyV4dj0EpcNOjnwA{
    background-color: red;
    color: purple;
} */



 @media (min-width: 992px) { 
.ourmainheader{
      background:white;
     margin-left: -135px;
     padding-left:10px ;
     /* border-left: 3px solid black; */
     border: none;

  }
.ourmainlayout{
  margin-left: -50px;
  background: #FBFBFB;
}
} 